* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

*, *::after, * ::before {
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
    border: none ;
}

.container {
    width: 85%;
    margin: 0 auto;
}

@media  (min-width: 1440px){
    .container {
        width: 1200px;
    }
}

.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 15px 41px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.btn:hover {
    color: var(--shrift-color);
    background-color: transparent;
    border: 1px solid #BCD0E5;
}

@media (max-width: 555px) {
    .btn {
        padding: 12px 24px;
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .btn {
        padding: 12px 24px;
        font-size: 14px;
    }
}

.title {
    margin-bottom: 23px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--shrift-color);
}

.subtitle {
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--shrift-color);
}

.description {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--shrift-color);
}

.left {
    text-align: left;
}

@media (max-width: 555px) {
    .title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 14px;
    }

    .description {
        font-size: 12px;
        line-height: normal;
    }
}

#backtop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--primary-color);
}

.show-backtop {
    display: block !important;
}